<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Loving Memory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Now Playing</h1>
    <div style="text-align: center;">
        <iframe src="https://www.youtube.com/embed/j6Keg3XKKjM?autoplay=1" frameborder="0" allow="autoplay; encrypted-media"
        title="Background music: Hollow Coves - These Memories">
        </iframe>
    </div>
    <header>
        <h1>🐾 In loving Memory</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/guestbook">GuestBook</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>Made with ❤️</footer>
</body>
</html>