<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Loving Memory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="music-section">
        <button id="playBtn" type="button">▶️ Play Music</button>
        <button id="muteBtn" type="button">🔇 Mute</button>
        
        <div class="video-placeholder" id="videoPlaceholder">
            🎵 Music is ready to play
        </div>

    </div>
    
    <iframe id="bg-music" src="https://www.youtube.com/embed/j6Keg3XKKjM?enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media"
    title="Background music: Hollow Coves - These Memories" style="position: absolute; width: 1px; height: 1px; opacity: 0; pointer-events: none; left: -9999px; top: -9999px;">
    </iframe>
    
    <header>
        <h1>🐾 In loving Memory</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/guestbook">GuestBook</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>Made with ❤️</footer>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>