{% extends "base.html" %}
{% block content %}
<h2>Photo Gallery</h2>
<div style="display: flex; flex-wrap: wrap; gap: 5px;">
    {% for photo in imgs %}
    <div style="flex: 1 1 40%; max-width: 400px;">
        <img src="{{ url_for('static', filename='images/' ~ photo.filename) }}" class="memory-photo" alt="{{ photo.filename }}" style="width: 100%; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);">
        <p style="text-align: center; font-style: italic;">
            {{ photo.votes }}
        </p>
        <form action="{{ url_for('gallery.vote', filename=photo.filename) }}" method="post" style="text-align: center;">
            <button type="submit">Vote</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
